<header class="pa-dashboard-header">
  <h1>Please select a module.</h1>
</header>
<div class="pa-dashboard-container">
  <div class="pa-dashboard-item">
    <img src="http://placehold.it/250x250&text=Rooms">
  </div>
  <div class="pa-dashboard-item">
    <img src="http://placehold.it/250x250&text=Instr">
  </div>
  <div class="pa-dashboard-item">
    <img src="http://placehold.it/250x250&text=Downl">
  </div>
  <div class="pa-dashboard-item">
    <img src="http://placehold.it/250x250&text=About">
  </div>
</div>
