/**
 * # Perfect Attendace Footer (pa-footer)
 *
 * Contains styling for the pa-footer section of the application.
 */

.pa-footer {
  color: white;
  background-color: #404041;
  text-align: center;
}
