/**
 * # Perfect Attendace Footer (pa-footer)
 *
 * Contains styling for the pa-footer section of the application.
 *
 * Author: Irvin Denzel Torcuato
 */

.pa-footer {
  padding: .2rem;
  color: white;
  background-color: #404041;
  text-align: center;
}
