/**
 * Contains styling for the header section of the application.
 */

.pa-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #404041;

}

.pa-header > * {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin: .3rem .2rem .3rem;
}

.pa-branding {
  cursor: pointer;
}

.pa-branding :first-child {
  margin-right: 1rem;
}

.pa-branding i {
  padding: 3.7rem 1.1rem .2rem;
  background-color: pink;
  background-image: url("../images/Logo.jpg");
}

.pa-branding span {
  font-size: 20px;

}
