/**
 * Contains styling for the header section of the application.
 */

.pa-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  background-color: #404041;
  padding: .5rem 1rem .5rem;
}

.pa-header > ul li {
  text-decoration: underline;
  display: inline;
}

.pa-branding {
  cursor: pointer;
}

.pa-branding :first-child {
  margin-right: 1rem;
}

.pa-branding i {
  padding: .2rem .7rem .2rem;
  background-color: pink;
}
