/**
 * Contains styling for home view.
 *
 * Author: Irvin Denzel Torcuato
 */

.pa-dashboard-header h1 {
  font-family: Arial;
  color: gray;
  font-weight: bold;
  text-align: center;
}

.pa-dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0 1rem;
}

.pa-dashboard-item {
  display: flex;
  justify-content: center;
  border: dotted .1rem;
}

.pa-dashboard-item:hover {
  border: solid .3rem darkgray;
}

.pa-dashboard-item img {
  cursor: pointer;
}
