/**
 * This is the main css document, and the only one linked in the source please
 * use the @import for other style declarations.
 *
 * Author: Irvin Denzel Torcuato
 */

@import 'header.css';
@import 'footer.css';
@import 'aside.css';
@import 'home.css';
@import 'table.css';
@import 'instructor.css';

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica;
}

main {
  display: flex;
  flex: 1;
  background-color: ivory;
  overflow: auto;
}

#main-content {
  flex: 1 100%;
  overflow: auto;
  padding: .5rem 1rem 1rem;
  margin: .2rem;
}

.pa-button {
  cursor: pointer;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  padding: .3rem .4rem .3rem;
  text-decoration: none;
}

.pa-button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.pa-button-active {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
