/**
 * This is the main css document, and the only one linked in the source please
 * use the @import for other style declarations.
 */

@import 'header.css';
@import 'footer.css';
@import 'aside.css';
@import 'home.css';

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica;
}

main {
  display: flex;
  flex: 1;
  background-color: ivory;
  overflow: auto;
}

#main-content {
  flex: 1 100%;
  overflow: auto;
  border: dashed .1rem dimgray;
  padding: .5rem 1rem 1rem;
  margin: .2rem;
}
